<section class="container-fluid container-banner">
	<article class="row">
		<p class="text-center text-intro">Compra tu  Chivas Home Party desde $1.950.000 y celebra con tus amigos la mejor fiesta en casa. <strong>Porque las mejores fiestas empiezan y terminan en casa.</strong></p>
		<h2 class="text-center">¿Qué Incluye?</h2>
		<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 incluye">
			<div data-item="1" class="incluye-item incluye-item-1"><span>1</span></div>
			<div data-item="2" class="incluye-item incluye-item-2"><span>2</span></div>
			<div data-item="3" class="incluye-item incluye-item-3"><span>3</span></div>
			<div data-item="4" class="incluye-item incluye-item-4"><span>4</span></div>
			<div data-item="5" class="incluye-item incluye-item-5"><span>5</span></div>
			<div data-item="6" class="incluye-item incluye-item-6"><span>6</span></div>
		</div>
	</article>
	<article class="row u-no-border incluye-text hidden">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<p id="1" class="text-center hidden animated">10 botellas de Chivas 12 años 750ml</p>
			<p id="2" class="text-center hidden animated">6 horas de fiesta.</p>
			<p id="3" class="text-center hidden animated">DJ y producción de sonido profesional</p>
			<p id="4" class="text-center hidden animated">Barra y Bartender</p>
			<p id="5" class="text-center hidden animated">Vasos de vidrio Chivas Collins y Chivas en las rocas</p>
			<p id="6" class="text-center hidden animated">Mobiliario y Backing fotos</p>
		</div>
	</article>
	<article class="row armar-fiesta pasos">
		<h2 class="text-center">¿Cómo armar la fiesta?</h2>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item-armarfiesta">
			<h3>1</h3>
			<div class="paso paso-fecha"></div>
			<p>Escoge la fecha y la ciudad y mira la disponibilidad en el calendario.</p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item-armarfiesta">
			<h3>2</h3>
			<div class="paso paso-detalles"></div>
			<p>Cuadra todos tus detalles.</p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item-armarfiesta">
			<h3>3</h3>
			<div class="paso paso-pagar"></div>
			<p>Paga en Línea (Tarjeta Débito o Tarjeta Crédito)</p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item-armarfiesta">
			<h3>4</h3>
			<div class="paso paso-invitar"></div>
			<p>Invita a tus amigos. </p>
		</div>
	</article>
	<article class="row costos">
		<h2 class="text-center">¿Cuánto cuesta?</h2>
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 col-lg-offset-3 col-md-offset-3 col-sm-offset-2">
			<h3 class="costo costo-30">
				Personas
				<span>$1.300.000</span>
				
			</h3>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
			<h3 class="costo costo-50">
				Personas
				<span>$1.800.000</span>
				
			</h3>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
			<h3 class="costo costo-70">
				Personas
				<span>$2.600.000</span>
				
				
			</h3>
		</div>
		<div class="clearfix"></div>
		<p class="text-center">Estos valores pueden varias según ubicación de la fiesta y producto adicional</p>
	</article><a href="fiesta.php" role="button" class="btn btn-empezar">
		<span>Empieza aquí</span>
		
		</a>
</section>
<section class="container-fluid container-fiesta">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<!--Fiesta-->
			<article class="fiesta-gallery fiesta-gallery-mini">
				<div><a href="#">
						Fiesta Jesucristo Hitler Paracelso Zeppelin
						<span>31 de diciembre</span></a></div><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
			</article>
			<!--/-Fiesta-->
			<!--Fiesta-->
			<article class="fiesta-gallery fiesta-gallery-mini">
				<div><a href="#">
						Fiesta Jesucristo Hitler Paracelso Zeppelin
						<span>31 de diciembre</span>
						</a></div><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
			</article>
			<!--/-Fiesta-->
			<div class="clearfix"></div>
			<!--Banner-->
			<article class="col-lg-6 col-md-6 col-sm-6 col-xs-6 banner"><a href="http://barmanclub.co/" target="_Blank"><img src="images/banner-chivas-12.jpg" alt="Mejor con Chivas Regal 12" title="Mejor con Chivas Regal 12" class="img-responsive"></a></article>
			<!--/-Banner-->
			<!--Banner-->
			<article class="col-lg-6 col-md-6 col-sm-6 col-xs-6 banner"><a href="http://barmanclub.co/" target="_Blank"><img src="images/banner-chivas-18.jpg" alt="Mejor con Chivas Regal 18" title="Mejor con Chivas Regal 18" class="img-responsive"></a></article>
			<!--/-Banner-->
		</div>
		<!--Banner-->
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 fiesta-gallery fiesta-big-last">
			<div class="contain-img">
				<div><a href="#">
						Fiesta Jesucristo Hitler Paracelso Zeppelin
						<span>31 de diciembre</span>
						</a></div><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
			</div>
			<div class="contain-img">
				<div><a href="#">
						Fiesta Jesucristo Hitler Paracelso Zeppelin
						<span>31 de diciembre</span>
						</a></div><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
			</div>
		</div>
		<!--/-Banner-->
	</div><a href="fiesta.php" role="button" class="btn btn-empezar">
		<span>Ver Galería completa</span>
		
		</a>
</section>