<ul class="nav main-menu">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle">
			<i class="fa fa-bar-chart-o"></i>
			<span class="hidden-xs">Marcas</span>
		</a>
		<ul class="dropdown-menu">
			<li><a class="ajax-link" href="#">Consultar Marcas</a></li>
			<li><a class="ajax-link" href="#">Crear Marcas</a></li>
			<li><a class="ajax-link" href="#">Actualizar Marcas</a></li>
			<li><a class="ajax-link" href="#">Eliminar Marcas</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle">
			<i class="fa fa-table"></i>
			 <span class="hidden-xs">Paises</span>
		</a>
		<ul class="dropdown-menu">
			<li><a class="ajax-link" href="#">Consultar Paises</a></li>
			<li><a class="ajax-link" href="#">Crear Paises</a></li>
			<li><a class="ajax-link" href="#">Actualizar Paises</a></li>
			<li><a class="ajax-link" href="#">Eliminar Paises</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle">
			<i class="fa fa-pencil-square-o"></i>
			 <span class="hidden-xs">Idiomas</span>
		</a>
		<ul class="dropdown-menu">
			<li><a class="ajax-link" href="#">Consultar Idiomas</a></li>
			<li><a class="ajax-link" href="#">Crear Idiomas</a></li>
			<li><a class="ajax-link" href="#">Actualizar Idiomas</a></li>
			<li><a class="ajax-link" href="#">Eliminar Idiomas</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle">
			<i class="fa fa-desktop"></i>
			 <span class="hidden-xs">Tipos de moneda</span>
		</a>
		<ul class="dropdown-menu">
			<li><a class="ajax-link" href="#">Consultar Tipos de moneda</a></li>
			<li><a class="ajax-link" href="#">Crear Tipos de moneda</a></li>
			<li><a class="ajax-link" href="#">Actualizar Tipos de moneda</a></li>
			<li><a class="ajax-link" href="#">Eliminar Tipos de moneda</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle">
			<i class="fa fa-list"></i>
			 <span class="hidden-xs">Zonas horarias</span>
		</a>
		<ul class="dropdown-menu">
			<li><a class="ajax-link" href="#">Consultar Zonas horarias</a></li>
			<li><a class="ajax-link" href="#">Crear Zonas horarias</a></li>
			<li><a class="ajax-link" href="#">Actualizar Zonas horarias</a></li>
			<li><a class="ajax-link" href="#">Eliminar Zonas horarias</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle">
			<i class="fa fa-map-marker"></i>
			<span class="hidden-xs">Sitios</span>
		</a>
		<ul class="dropdown-menu">
			<li><a class="ajax-link" href="#">Consultar Zonas horarias</a></li>
			<li><a class="ajax-link" href="#">Crear Zonas horarias</a></li>
			<li><a class="ajax-link" href="#">Actualizar Zonas horarias</a></li>
			<li><a class="ajax-link" href="#">Eliminar Zonas horarias</a></li>
		</ul>
	</li>
</ul>