<ul class="nav main-menu">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle">
			<i class="fa fa-table"></i>
			 <span class="hidden-xs">Paises y ciudades</span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="country">Lista de paises</a></li>
			<li><a href="city">Lista de Ciudades</a></li>
			<li><a href="cityRemoved">Ciudades eliminadas</a></li>
		</ul>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle">
			<i class="fa fa-map-marker"></i>
			<span class="hidden-xs">Ubicaciones</span>
		</a>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle">
			<i class="fa fa-bar-chart-o"></i>
			<span class="hidden-xs">Capacidad por ciudad</span>
		</a>
	</li>
	
	<li class="dropdown">
		<a href="#" class="dropdown-toggle">
			<i class="fa fa-pencil-square-o"></i>
			 <span class="hidden-xs">Numero de invitados</span>
		</a>
	</li>
	<li class="dropdown">
		<a href="#" class="dropdown-toggle">
			<i class="fa fa-list"></i>
			 <span class="hidden-xs">Productos</span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="products">Lista de productos</a></li>
			<li><a href="productsRemoved">Productos eliminados</a></li>
		</ul>
	</li>	
</ul>