<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es-CO"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es-CO"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es-CO"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-CO"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Chivas Home Party</title>
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/chivas-home-party.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic" rel="stylesheet" type="text/css"><!--[if lt IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body class="bg-age-gate">
  <!--Menu-->
  {#$regiones['menu']['html']#}
  <!--/-Menu-->
  <!-- Header -->
  {#$regiones['header']['html']#}
  <!-- /Header -->
  <!-- content -->
  {#$regiones['content']['html']#}
  <!-- /content -->
  <!--Footer-->
  
  {#$regiones['footer']['html']#}
  <!--/-Footer-->
  <!--Scripts-->
  <script src="theme-v1/js/libs.chivas-home-party.min.js"></script>
  <script src="theme-v1/js/home-party.js"></script>
</body></html>