<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es-CO"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es-CO"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es-CO"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-CO"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Preguntas frecuentes</title>
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/chivas-home-party.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic" rel="stylesheet" type="text/css"><!--[if lt IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <!--Menu-->
  <div class="menu">
    <button class="menu-toggle"><span>Menú</span></button>
    <nav>
      <ul class="menu">
        <li><a href="fiesta.php">Compra tu Chivas Home Party</a></li>
        <li><a href="galeria.php">Galería</a></li>
        <li><a href="faq.php">Preguntas y Respuestas</a></li>
        <li><a href="terminos.php">Términos &amp; Condiciones</a></li>
        <li><a href="politica.php">Política de uso de datos</a></li>
      </ul>
    </nav><a href="fiesta.php" role="button" class="btn btn-reservar">Reservar</a>
  </div>
  <!--/-Menu-->
  <header class="container-fluid u-no-border header-faq">
    <div class="row">
      <h2 class="logo"><img src="images/logo-chivas.png" alt="Chivas Home Party" title="Chivas Home Party" class="img-responsive"></h2>
      <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
        <h1 class="text-center">Preguntas frecuentes</h1>
      </div>
    </div>
  </header>
  <section class="container-fluid container-pqr">
    <!--Pregunta 1-->
    <article class="row row-pregunta">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p class="circle"><span>P.</span></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <p class="pregunta">
          ¿Qué incluye mi Chivas Home Party? 
          
        </p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p data-pregunta="1" class="circle ver-respuesta"><span>R.</span></p>
      </div>
    </article>
    <!--/-Pregunta 1-->
    <!--Pregunta 2-->
    <article class="row row-pregunta">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p class="circle"><span>P.</span></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <p class="pregunta">
          ¿Con cuánto tiempo de anterioridad puedo programar mi CHP?
          
        </p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p data-pregunta="2" class="circle ver-respuesta"><span>R.</span></p>
      </div>
    </article>
    <!--/-Pregunta 2-->
    
    <!--Pregunta 3-->
    <article class="row row-pregunta">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p class="circle"><span>P.</span></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <p class="pregunta">
          ¿Cómo debo solicitar la fiesta?
          
        </p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p data-pregunta="3" class="circle ver-respuesta"><span>R.</span></p>
      </div>
    </article>
    <!--/-Pregunta 3-->
    <!--Pregunta 4-->
    <article class="row row-pregunta">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p class="circle"><span>P.</span></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <p class="pregunta">
          ¿Cómo se puede realizar el pago?
          
        </p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p data-pregunta="4" class="circle ver-respuesta"><span>R.</span></p>
      </div>
    </article>
    <!--/-Pregunta 4-->
    <!--Pregunta 5-->
    <article class="row row-pregunta">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p class="circle"><span>P.</span></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <p class="pregunta">
          ¿Cómo coordino todo lo respectivo a la fiesta?
          
        </p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p data-pregunta="5" class="circle ver-respuesta"><span>R.</span></p>
      </div>
    </article>
    <!--/-Pregunta 5-->
    <!--Pregunta 6-->
    <article class="row row-pregunta">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p class="circle"><span>P.</span></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <p class="pregunta">
          ¿Puedo cambiar la fecha una vez haya pagado otra fecha?
          
        </p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p data-pregunta="6" class="circle ver-respuesta"><span>R.</span></p>
      </div>
    </article>
    <!--/-Pregunta 6-->
    <!--Pregunta 7-->
    <article class="row row-pregunta">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p class="circle"><span>P.</span></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <p class="pregunta">
          ¿Por cuánto tiempo me bloquean una fecha si no he realizado el pago?
          
        </p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p data-pregunta="7" class="circle ver-respuesta"><span>R.</span></p>
      </div>
    </article>
    <!--/-Pregunta 7-->
    <!--Pregunta 8-->
    <article class="row row-pregunta">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p class="circle"><span>P.</span></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <p class="pregunta">
          ¿Si requiero más producto para mi Chivas Home Party que puedo hacer?
          
        </p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p data-pregunta="8" class="circle ver-respuesta"><span>R.</span></p>
      </div>
    </article>
    <!--/-Pregunta 8-->
    <!--Pregunta 9-->
    <article class="row row-pregunta">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p class="circle"><span>P.</span></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <p class="pregunta">
          ¿Cuándo no se puede hacer una Chivas Home Party?
          
        </p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p data-pregunta="9" class="circle ver-respuesta"><span>R.</span></p>
      </div>
    </article>
    <!--/-Pregunta 9-->
    <!--Pregunta 10-->
    <article class="row row-pregunta">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p class="circle"><span>P.</span></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <p class="pregunta">
          ¿Puedo hacer una Chivas Home Party fuera de la ciudad?
          
        </p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p data-pregunta="10" class="circle ver-respuesta"><span>R.</span></p>
      </div>
    </article>
    <!--/-Pregunta 10-->
    <!--Pregunta 11-->
    <article class="row row-pregunta">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p class="circle"><span>P.</span></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <p class="pregunta">
          ¿Cuál es la capacidad de la fiesta?
          
        </p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p data-pregunta="11" class="circle ver-respuesta"><span>R.</span></p>
      </div>
    </article>
    <!--/-Pregunta 11-->
    <!--Pregunta 12-->
    <article class="row row-pregunta">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p class="circle"><span>P.</span></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <p class="pregunta">
          ¿Puedo llevar mi propio DJ?
          
        </p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p data-pregunta="12" class="circle ver-respuesta"><span>R.</span></p>
      </div>
    </article>
    <!--/-Pregunta 12-->
    <!--Pregunta 13-->
    <article class="row row-pregunta">
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p class="circle"><span>P.</span></p>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <p class="pregunta">
          ¿Durante la fiesta se toman fotografías?
          
        </p>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <p data-pregunta="13" class="circle ver-respuesta"><span>R.</span></p>
      </div>
    </article>
    <!--/-Pregunta 13-->
    <article class="row row-respuesta hidden">
      <div class="controles">
        <div class="ctrl ctrl-prev"><i class="icon icon-prev"></i></div>
        <div class="ctrl ctrl-cerrar"><i class="icon icon-close"></i></div>
        <div class="ctrl ctrl-next"><i class="icon icon-next"></i></div>
      </div>
      <!--Respuesta 1	-->
      <div id="1" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden">
        <p class="circle"><span>P.</span></p>
        <p class="pregunta"><strong>
            ¿Qué incluye mi Chivas Home Party?
            </strong></p>
        <p class="respuesta">
          Tu Chivas Home Party para 30 personas, incluye: 9 botellas de Chivas 12 años de 750 ml, 6 horas de fiesta, DJ profesional con producción de sonido, Barra Chivas y Barman, 60 vasos plásticos Chiva, mobiliario Chivas y Baking para fotos. Si la fiesta es de más de 30 personas, incluye el siguiente número de botellas:
          
        </p>
        <p class="respuesta">
          50 personas: 15 botellas más mobiliario extra (dos barras y dos puf adicionales).<br />
          70 personas: 23 botellas más mobiliario extra (dos barras adicionales y 3 puf adicionales).
          
        </p>
      </div>
      <!--/-Respuesta 1-->
      <!--Respuesta 2	-->
      <div id="2" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden">
        <p class="circle"><span>P.</span></p>
        <p class="pregunta"><strong>
            ¿Con cuánto tiempo de anterioridad puedo programar mi CHP?
            </strong></p>
        <p class="respuesta">
          Se recomienda programar La Chivas Home Party al menos 30 días de anterioridad, para	encontrar disponibilidad en la fecha.
          
        </p>
      </div>
      <!--/-Respuesta 2-->
      <!--Respuesta 3	-->
      <div id="3" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden">
        <p class="circle"><span>P.</span></p>
        <p class="pregunta"><strong>
            ¿Cómo debo solicitar la fiesta?
            </strong></p>
        <p class="respuesta">
          La fiesta se solicita a través de la página web <strong>www.chivashomeparty.com</strong> . En esta página podrás ver las fechas disponibles y capacidad para tu fiesta. Seleccionas el día, la hora, ubicación de tu fiesta y producto adicional y listo. El pago lo realizas a través de la plataforma PayU. Una vez realizado el pago de la fecha seleccionada recibirás una llamada de confirmación para ultimar detalles de la fiesta. Y listo!
          
        </p>
      </div>
      <!--/-Respuesta 3-->
      <!--Respuesta 4	-->
      <div id="4" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden">
        <p class="circle"><span>P.</span></p>
        <p class="pregunta"><strong>
            ¿Cómo se puede realizar el pago?
            </strong></p>
        <p class="respuesta">
          El pago se realiza a través de la plataforma de PayU. Este  puede ser con tarjeta débito o tarjeta de crédito. Una vez realizado el pago es necesario hacer click en “finalizar transacción” para que el pago quede reflejado en la plataforma y tu fecha quede bloqueada.
          
        </p>
      </div>
      <!--/-Respuesta 4-->
      <!--Respuesta 5	-->
      <div id="5" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden">
        <p class="circle"><span>P.</span></p>
        <p class="pregunta"><strong>
            ¿Cómo coordino todo lo respectivo a la fiesta?
            </strong></p>
        <p class="respuesta">
          Una vez realizado el pago de la fecha seleccionada, recibirás una llamada de confirmación para ultimar detalles de la fiesta. El equipo de producción coordinará contigo una visita técnica al lugar donde será la fiesta para así definir mobiliario, capacidad y ubicación de los elementos. Esta visita técnica se realiza durante la misma semana de la fecha seleccionada.
          
        </p>
      </div>
      <!--/-Respuesta 5-->
      <!--Respuesta 6	-->
      <div id="6" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden">
        <p class="circle"><span>P.</span></p>
        <p class="pregunta"><strong>
            ¿Puedo cambiar la fecha una vez haya pagado otra fecha?
            </strong></p>
        <p class="respuesta">
          En la llamada de confirmación se puede cambiar esta fecha siempre y cuando haya disponibilidad en la nueva fecha seleccionada. No se pueden hacer cambios si la fiesta es en menos de 7 días.
          
        </p>
      </div>
      <!--/-Respuesta 6-->
      <!--Respuesta 7	-->
      <div id="7" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden">
        <p class="circle"><span>P.</span></p>
        <p class="pregunta"><strong>
            ¿Puedo cambiar la fecha una vez haya pagado otra fecha?
            </strong></p>
        <p class="respuesta">
          24 horas.
          
        </p>
      </div>
      <!--/-Respuesta 7-->
      <!--Respuesta 8	-->
      <div id="8" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden">
        <p class="circle"><span>P.</span></p>
        <p class="pregunta"><strong>
            ¿Puedo cambiar la fecha una vez haya pagado otra fecha?
            </strong></p>
        <p class="respuesta">
          En el momento de hacer la programación de la fiesta a través de la página web, se puede seleccionar producto adicional al que incluye la fiesta. Durante la Chivas Home Party únicamente está permitido consumir bebidas alcohólicas importadas por PERNOD RICARD COLOMBIA S.A. No se acepta bajo ningún motivo licor que no esté estampillado.
          
        </p>
        <p class="respuesta">
          Durante la fiesta y si el anfitrión lo ve necesario se puede solicitar producto adicional a <a href="http://www.barmanclub.co" target="_blank">www.barmanclub.co</a> , este producto se podrá comprar con un código de descuento que entregará el coordinador logístico durante la fiesta.
          
        </p>
      </div>
      <!--/-Respuesta 8-->
      <!--Respuesta 9	-->
      <div id="9" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden">
        <p class="circle"><span>P.</span></p>
        <p class="pregunta"><strong>
            ¿Cuándo no se puede hacer una Chivas Home Party?
            </strong></p>
        <p class="respuesta">
          Este servicio no se podrá ofrecer a menores de edad ni a eventos vinculados con menores de edad tales como: bautizos, primeras comuniones, 15 años, babyshowers y fiestas infantiles. Tampoco estará disponible para matrimonios civiles /eclesiásticos.
          
        </p>
      </div>
      <!--/-Respuesta 9-->
      <!--Respuesta 10	-->
      <div id="10" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden">
        <p class="circle"><span>P.</span></p>
        <p class="pregunta"><strong>
            ¿Puedo hacer una Chivas Home Party fuera de la ciudad?
            </strong></p>
        <p class="respuesta">
          Chivas Home Party está disponible en las siguientes ciudades: Bogotá, Medellín, Cali, Bucaramanga, Villavicencio y Cartagena. En caso de realizar la fiesta fuera del perímetro de estas ciudades, se generará un costo adicional que deberá ser asumido por ti. Estos valores se pueden confirmar en el momento de la solicitud de la fiesta / ubicación a través de la página web. En caso que la ubicación no se encuentre en el listado, en el momento de la llamada de confirmación y visita técnica se estimará el costo adicional que debes asumir.
          
        </p>
      </div>
      <!--/-Respuesta 10-->
      <!--Respuesta 11	-->
      <div id="11" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden">
        <p class="circle"><span>P.</span></p>
        <p class="pregunta"><strong>
            ¿Cuál es la capacidad de la fiesta?
            </strong></p>
        <p class="respuesta">
          Tenemos 3 opciones de fiesta con las siguientes capacidades: 30 personas, 50 personas y 70 personas.
          
        </p>
      </div>
      <!--/-Respuesta 11-->
      <!--Respuesta 12	-->
      <div id="12" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden">
        <p class="circle"><span>P.</span></p>
        <p class="pregunta"><strong>
            ¿Puedo llevar mi propio DJ?
            </strong></p>
        <p class="respuesta">
          El valor a pagar por la Chivas Home Party, ya incluye el DJ, por lo tanto recomendamos no llevar dj adicional ni cambiar el mismo. Si tienes alguna solicitud especial de música, palylist, etc, se la puede hacer directamente al coordinador de la fiesta en el momento de la llamada de confirmación.
          
        </p>
      </div>
      <!--/-Respuesta 12-->
      <!--Respuesta 13	-->
      <div id="13" class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 hidden">
        <p class="circle"><span>P.</span></p>
        <p class="pregunta"><strong>
            ¿Durante la fiesta se toman fotografías?
            </strong></p>
        <p class="respuesta">
          El equipo de Chivas Home Party toma fotografías durante la fiesta las cuales son enviadas al anfitrión en los siguientes 7 días después de realizada la fiesta. Estas fotografías podrán ser publicadas por PERNOD RICARD COLOMBIA S.A. con fines de promoción, divulgación y publicidad de CHIVAS REGAL, con una duración indefinida y en cualquier medio sin previo aviso o ni compensación económica alguna. Al solicitar el Chivas Home Party los usuarios otorgan a PERNOD RICARD COLOMBIA S.A. una licencia de uso sobre las mismos que habilita para el uso aquí descrito.
          
        </p>
      </div>
      <!--/-Respuesta 13-->
      
    </article>
  </section>
  <!--Footer-->
  <footer class="container-fluid u-no-border"><img src="images/legal.svg" alt="Pernod Ricard. Prohíbese el expendio de bebidas embriagantes a menores de edad. El exceso de alcohol es perjudicial para la salud. Si tomas, no manejes." title="Pernod Ricard. Prohíbese el expendio de bebidas embriagantes a menores de edad. El exceso de alcohol es perjudicial para la salud. Si tomas, no manejes." class="center-block img-responsive"></footer>
  <!--/-Footer-->
  <!--Scripts-->
  <script src="js/libs.chivas-home-party.min.js"></script>
  <script src="js/home-party.js"></script>
</body></html>