<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es-CO"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es-CO"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es-CO"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-CO"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Arma tu fiesta</title>
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/chivas-home-party.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic" rel="stylesheet" type="text/css"><!--[if lt IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <!--Menu-->
  <div class="menu">
    <button class="menu-toggle"><span>Menú</span></button>
    <nav>
      <ul class="menu">
        <li><a href="fiesta.php">Compra tu Chivas Home Party</a></li>
        <li><a href="galeria.php">Galería</a></li>
        <li><a href="faq.php">Preguntas y Respuestas</a></li>
        <li><a href="terminos.php">Términos &amp; Condiciones</a></li>
        <li><a href="politica.php">Política de uso de datos</a></li>
      </ul>
    </nav><a href="fiesta.php" role="button" class="btn btn-reservar">Reservar</a>
  </div>
  <!--/-Menu-->
  <header class="container-fluid u-no-border header-fiesta">
    <div class="row">
      <h2 class="logo"><img src="images/logo-chivas.png" alt="Chivas Home Party" title="Chivas Home Party" class="img-responsive"></h2>
      <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
        <h1 class="text-center">Comprar</h1>
      </div>
    </div>
  </header>
  <section class="container-fluid container-formulariofiesta">
    <article class="row">
      <p class="text-center text-intro">
        Compra tu  Chivas Home Party desde $1.950.000 y celebra con tus amigos la mejor fiesta en casa. <strong>Porque las mejores fiestas empiezan y terminan en casa.</strong>
        
      </p>
    </article>
    <article class="row hidden animated">
      <p class="text-center">La fecha no est&aacute; disponible, d&eacute;janos tus datos y nos ponemos en contacto contigo, si quieres ver otra fecha haz clic <a class="btn-disponible" href="#">aqu&iacute;</a>.</p>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <form id="no-disponible" method="" class="fiesta">
          <!--Datos de la fiesta-->
          <fieldset class="datos-fiesta">
            <div class="row">
              <div data-input="input" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input">
                <div>
                  <label for="nombre"><span>El Nombre</span></label>
                  <input type="text" name="nombre">
                </div>
              </div>
              <div data-input="input" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input">
                <div>
                  <label for="telefono"><span>El Tel&eacute;fono</span></label>
                  <input type="text" name="telefono">
                </div>
              </div>
              <div data-input="input" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 input">
                <div>
                  <label for="correo"><span>El Correo El&eacute;ctronico</span></label>
                  <input type="text" name="correo">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3">
                <button type="button" class="btn btn-submit">Enviar</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </article>
    <article class="row animated">
      <h2 class="text-center">Cuéntanos</h2>
      <p class="text-center">Todos los campos son obligatorios</p>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <form id="fiesta" method="" class="fiesta">
          <!--Datos de la fiesta-->
          <fieldset class="datos-fiesta">
            <div class="row">
              <div data-input="input" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 input">
                <div>
                  <label for="ocasion"><span>La Ocasión</span></label>
                  <input type="text" name="ocasion">
                </div>
              </div>
              <div data-input="input" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 input">
                <div>
                  <label for="direccion"><span>La Dirección y el barrio</span></label>
                  <input type="text" name="direccion">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 select">
                <select name="ciudad" class="form-control ciudad">
                  <option value="">La ciudad</option>
                  <option value="1">2</option>
                  <option value="2">3</option>
                  <option value="3">4</option>
                </select>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 select">
                <select name="lugar" class="form-control lugar">
                  <option value="">El lugar</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
              <div data-input="input" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 input">
                <div>
                  <label for="fecha"><span>La fecha</span></label>
                  <input type="date" name="fecha">
                </div><span>
                  Esta fecha no est&aacute; disponible, haz clic <a class="no-disponible" href="#no-disponible">aqu&iacute; </a>para que nos podamos contactar contigo.
                  </span>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 select">
                <select name="amigos" class="form-control amigos">
                  <option value="">¿a cuantos amigos vas a invitar?</option>
                  <option value="3">2</option>
                  <option value="2">3</option>
                  <option value="3">4</option>
                </select><span>** Capacidad de la fiesta de acuerdo a disponibilidad.</span>
              </div>
            </div>
            <div class="row row-botellas">
              <h2 class="text-center">¿Quieres agregar más botellas?</h2>
              <p class="text-center">* Para que tus invitados tengan más opciones para celebrar, puedes agregar cualquiera de nuestros productos adicionales de Pernod Ricard.</p>
              <!--Chivas-->
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 botella">
                <div class="producto"><img src="images/chivas-12.png" alt="Chivas Regal 12" title="Chivas Regal 12" class="img-responsive">
                  <div class="cantidad">
                    <div class="ctrl ctrl-mas glyphicon glyphicon-triangle-top"></div>
                    <input type="text" placeholder="0">
                    <div class="ctrl ctrl-menos glyphicon glyphicon-triangle-bottom"></div>
                  </div>
                </div><span data-precio="" class="precio">$81.800</span><span>Chivas Regal 12</span>
              </div>
              <!--/-Chivas-->
              <!--Absolut-->
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 botella">
                <div class="producto"><img src="images/absolut.png" alt="Absolut Vodka" title="Absolut Vodka" class="img-responsive">
                  <div class="cantidad">
                    <div class="ctrl ctrl-mas glyphicon glyphicon-triangle-top"></div>
                    <input type="text" placeholder="0">
                    <div class="ctrl ctrl-menos glyphicon glyphicon-triangle-bottom"></div>
                  </div>
                </div><span data-precio="" class="precio">$81.800</span><span>Absolut Vodka</span>
              </div>
              <!--/-Absolut-->
              <!--Beefeater-->
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 botella">
                <div class="producto"><img src="images/beefeater.png" alt="Beefeater" title="Beefeater" class="img-responsive">
                  <div class="cantidad">
                    <div class="ctrl ctrl-mas glyphicon glyphicon-triangle-top"></div>
                    <input type="text" placeholder="0">
                    <div class="ctrl ctrl-menos glyphicon glyphicon-triangle-bottom"></div>
                  </div>
                </div><span data-precio="" placeholder="0" class="precio">$81.800</span><span>Beefeater</span>
              </div>
              <!--/-Beefeater-->
              <!--Havana Añejo Especial-->
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 botella">
                <div class="producto"><img src="images/havana-anejo.png" alt="Havana Añejo Especial" title="Havana Añejo Especial" class="img-responsive">
                  <div class="cantidad">
                    <div class="ctrl ctrl-mas glyphicon glyphicon-triangle-top"></div>
                    <input type="text" placeholder="0">
                    <div class="ctrl ctrl-menos glyphicon glyphicon-triangle-bottom"></div>
                  </div>
                </div><span data-precio="" class="precio">$81.800</span><span>Havana Añejo Especial</span>
              </div>
              <!--/-Havana Añejo Especial-->
              <!--Havana 3 Años-->
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 botella">
                <div class="producto"><img src="images/havana-3.png" alt="Havana 3 Años" title="Havana 3 Años" class="img-responsive">
                  <div class="cantidad">
                    <div class="ctrl ctrl-mas glyphicon glyphicon-triangle-top"></div>
                    <input type="text" placeholder="0">
                    <div class="ctrl ctrl-menos glyphicon glyphicon-triangle-bottom"></div>
                  </div>
                </div><span data-precio="" class="precio">$81.800</span><span>Havana 3 Años</span>
              </div>
              <!--/-Havana 3 Años-->
              <!--Tequila Olmeca-->
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 botella">
                <div class="producto"><img src="images/olmeca.png" alt="Tequila Olmeca" title="Tequila Olmeca" class="img-responsive">
                  <div class="cantidad">
                    <div class="ctrl ctrl-mas glyphicon glyphicon-triangle-top"></div>
                    <input type="text" placeholder="0">
                    <div class="ctrl ctrl-menos glyphicon glyphicon-triangle-bottom"></div>
                  </div>
                </div><span data-precio="" class="precio">$81.800</span><span>Tequila Olmeca</span>
              </div>
              <!--/-Tequila Olmeca-->
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <h4 class="subtotal-costo">$1'300.000</h4>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <button type="button" class="btn btn-continuar">Continuar</button>
              </div>
            </div>
          </fieldset>
          <!--/-Datos de la fiesta-->
          <!--Datos persona-->
          <fieldset class="datos-persona"><a href="" class="fb fb-login">Trae tus datos con Facebook</a>
            <div class="row">
              <!--Nombres-->
              <div data-input="input" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 input">
                <div>
                  <label for="nombres"><span>Nombres</span></label>
                  <input type="text" name="nombres">
                </div>
              </div>
              <!--/-Nombres-->
              <!--Apellidos-->
              <div data-input="input" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 input">
                <div>
                  <label for="apellidos"><span>Apellidos</span></label>
                  <input type="text" name="apellidos">
                </div>
              </div>
              <!--/-Apellidos-->
              <!--Cédula-->
              <div data-input="input" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 input">
                <div>
                  <label for="documento"><span>Cédula</span></label>
                  <input type="text" name="documento">
                </div>
              </div>
              <!--/-Cédula-->
              <!--Fecha de nacimiento-->
              <div data-input="input" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 input">
                <div>
                  <label for="fecha"><span>Fecha de Nacimiento</span></label>
                  <input type="date" name="nacimento">
                </div>
              </div>
              <!--/-Fecha de nacimiento-->
              <!--Email-->
              <div data-input="input" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 input">
                <div>
                  <label for="email"><span>Correo Electrónico</span></label>
                  <input type="email" name="email">
                </div>
              </div>
              <!--/-Email-->
              <!--Telefono-->
              <div data-input="input" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 input">
                <div>
                  <label for="telefono"><span>Teléfono Celular</span></label>
                  <input type="text" name="telefono">
                </div>
              </div>
              <!--/-Telefono-->
              <!--Género-->
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 select">
                <select name="genero" class="form-control genero">
                  <option value="">Género</option>
                  <option value="f">Femenino</option>
                  <option value="m">Másculino</option>
                </select>
              </div>
              <!--/-Género-->
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-3">
                <!--politica de datos-->
                <div class="checkbox">
                  <input type="checkbox" name="politica" value="politica">
                  <label for="politica">Conozco y he leído los <a href="derechos.php">derechos del titular</a> y la <a href="pdf/tratamiento-de-datos-personales-pernod-ricard.pdf">política de tratamiento de datos</a></label>
                </div>
                <!--politica de datos-->
                <!--términos-->
                <div class="checkbox">
                  <input type="checkbox" name="terminos" value="terminos">
                  <label for="terminos">Conozco y acepto <a href="terminos.php">términos y condiciones</a></label>
                </div>
                <!--términos-->
                <!--Contacto-->
                <div class="checkbox">
                  <input type="checkbox" name="contacto" value="contacto">
                  <label for="contacto">Acepto que Pernod Ricard, compañía dueña de CHP me contacte para información de eventos y beneficios, por cualquiera de los medios entregados.</label>
                </div>
                <!--Contacto-->
              </div>
              <div class="clearfix"></div>
              <!--Cupones-->
              <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-coupon">
                <button type="button" class="btn btn-coupon">
                  <i class="glyphicon glyphicon-asterisk"></i>
                  Tengo un cupón
                  
                </button>
                <div class="input">
                  <div>
                    <label for="coupon"># del Cupón</label>
                    <input type="text" name="coupon" id="coupon" class="form-control">
                  </div><a href="#" class="btn btn-validar">Validar cupón</a>
                </div>
              </div>
            </div>
            <div class="row text-center resumen-fiesta">
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                <div class="listado">
                  <h2>Tu fiesta:</h2>
                  <p>Es el <span class="fecha">15 de diciembre de 2015</span> a las <span class="hora">8:00 pm</span> para <span class="invitados">30 invitados</span></p>
                  <p>
                    Ubicación:  <span class="direccion">carrera 15 #85 - 30, Bogotá</span>.
                    
                  </p>
                  <p>
                    Con botellas adicionales de:
                    
                  </p>
                  <ul class="botellas-extra">
                    <li>Chivas Regal 12 x 5 und.</li>
                    <li>Tequila Olmeca reposado x 2 und.</li>
                  </ul>
                </div>
                <h4 class="total">
                  <span>Total:</span> $1'300.000
                  
                </h4>
                <p class="recordatorio-payu">
                  Recuerda que si no haces clic en el botón "finalizar transacción" en PayU, el pago no se realizará. 
                  
                  
                </p>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                <button type="button" class="btn btn-volver">
                  <i class="icon icon-edit"></i>
                  Editar Fiesta
                  
                </button>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <button class="btn btn-submit">Pagar</button>
              </div>
            </div>
            <!--/-Datos persona-->
          </fieldset>
        </form>
      </div>
    </article>
  </section>
  <!--Footer-->
  <footer class="container-fluid u-no-border"><img src="images/legal.svg" alt="Pernod Ricard. Prohíbese el expendio de bebidas embriagantes a menores de edad. El exceso de alcohol es perjudicial para la salud. Si tomas, no manejes." title="Pernod Ricard. Prohíbese el expendio de bebidas embriagantes a menores de edad. El exceso de alcohol es perjudicial para la salud. Si tomas, no manejes." class="center-block img-responsive"></footer>
  <!--/-Footer-->
  <!--Scripts-->
  <script src="js/libs.chivas-home-party.min.js"></script>
  <script src="js/home-party.js"></script>
  <script src="js/home-party.form.js" type="text/javascript"></script>
</body></html>