<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es-CO"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es-CO"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es-CO"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-CO"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Chivas Home Party</title>
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/chivas-home-party.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic" rel="stylesheet" type="text/css"><!--[if lt IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <!--Menu-->
  <div class="menu">
    <button class="menu-toggle"><span>Menú</span></button>
    <nav>
      <ul class="menu">
        <li><a href="fiesta.php">Compra tu Chivas Home Party</a></li>
        <li><a href="galeria.php">Galería</a></li>
        <li><a href="faq.php">Preguntas y Respuestas</a></li>
        <li><a href="terminos.php">Términos &amp; Condiciones</a></li>
        <li><a href="politica.php">Política de uso de datos</a></li>
      </ul>
    </nav><a href="fiesta.php" role="button" class="btn btn-reservar">Reservar</a>
  </div>
  <!--/-Menu-->
  <header class="container-fluid header-fiesta">
    <div class="row">
      <h2 class="logo"><img src="images/logo-chivas.png" alt="Chivas Home Party" title="Chivas Home Party" class="img-responsive"></h2>
      <h1 class="text-center">Galería</h1>
    </div>
  </header>
  <section class="container-fluid container-video"></section>
  <section class="container-fluid container-banner"><a href="#" class="pedir-fiesta"><img src="images/btn-pedir.png" alt="Pide tu Chivas Home Party Aquí" title="Pide tu Chivas Home Party Aquí" class="img-responsive"></a></section>
  <section class="container-fluid container-fiesta">
    <div class="titulo-fiesta">
      <h2>
        Fiesta Jesucristo Hitler Paracelso Zeppelin
        
      </h2><span class="fecha">16 de junio</span>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
        <div class="clearfix"></div>
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
      </div>
      <!--Foto-->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 fiesta-gallery">
        <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
      </div>
      <!--/-Foto-->
      <!--Foto-->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 fiesta-gallery">
        <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
      </div>
      <!--/-Foto-->
      <!--Quote-->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 fiesta-gallery-quote">
        <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside>
        <div class="col-lg-12 quote-text">
          <q>
            Demasiado de algo es malo, pero demasiado de un buen whisky es apenas suficiente
            
          </q><span class="quote-author">Mark Twain</span>
        </div>
      </div>
      <!--/-Quote-->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <!--Banner-->
        <article class="col-lg-6 col-md-6 col-sm-6 col-xs-6 banner"><a href="http://barmanclub.co/" target="_Blank"><img src="images/banner-chivas-12.jpg" alt="Mejor con Chivas Regal 12" title="Mejor con Chivas Regal 12" class="img-responsive"></a></article>
        <!--/-Banner-->
        <!--Banner-->
        <article class="col-lg-6 col-md-6 col-sm-6 col-xs-6 banner"><a href="http://barmanclub.co/" target="_Blank"><img src="images/banner-chivas-18.jpg" alt="Mejor con Chivas Regal 18" title="Mejor con Chivas Regal 18" class="img-responsive"></a></article>
        <!--/-Banner-->
        
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
        <div class="clearfix"></div>
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
      </div>
      <!--Foto-->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 fiesta-gallery">
        <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
      </div>
      <!--/-Foto-->
      
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
        <div class="clearfix"></div>
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
      </div>
      <!--Foto-->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 fiesta-gallery">
        <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
      </div>
      <!--/-Foto-->
      
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
        <div class="clearfix"></div>
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
        <!--Foto-->
        <article class="fiesta-gallery">
          <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
        </article>
        <!--/-Foto-->
      </div>
      <!--Foto-->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 fiesta-gallery">
        <aside class="share"><a href="#" class="share-fb"><img src="images/fb.svg" class="img-responsive"></a><a href="#" class="share-tw"><img src="images/tweet.svg" class="img-responsive"></a></aside><img src="images/galeria-big.jpg" alt="Fiesta de Alguien" title="Fiesta de Alguien" class="img-responsive">
      </div>
      <!--/-Foto-->
      
    </div>
  </section>
  <!--Footer-->
  <footer class="container-fluid u-no-border"><img src="images/legal.svg" alt="Pernod Ricard. Prohíbese el expendio de bebidas embriagantes a menores de edad. El exceso de alcohol es perjudicial para la salud. Si tomas, no manejes." title="Pernod Ricard. Prohíbese el expendio de bebidas embriagantes a menores de edad. El exceso de alcohol es perjudicial para la salud. Si tomas, no manejes." class="center-block img-responsive"></footer>
  <!--/-Footer-->
  <!--Scripts-->
  <script src="js/libs.chivas-home-party.min.js"></script>
  <script src="js/home-party.js"></script>
</body></html>