<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es-CO"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es-CO"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es-CO"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-CO"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Compra éxitosa, invita tus amigos</title>
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/chivas-home-party.min.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic" rel="stylesheet" type="text/css"><!--[if lt IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <!--Menu-->
  <div class="menu">
    <button class="menu-toggle"><span>Menú</span></button>
    <nav>
      <ul class="menu">
        <li><a href="fiesta.php">Compra tu Chivas Home Party</a></li>
        <li><a href="galeria.php">Galería</a></li>
        <li><a href="faq.php">Preguntas y Respuestas</a></li>
        <li><a href="terminos.php">Términos &amp; Condiciones</a></li>
        <li><a href="politica.php">Política de uso de datos</a></li>
      </ul>
    </nav><a href="fiesta.php" role="button" class="btn btn-reservar">Reservar</a>
  </div>
  <!--/-Menu-->
  <header class="container-fluid u-no-border header-fiesta">
    <div class="row">
      <h2 class="logo"><img src="images/logo-chivas.png" alt="Chivas Home Party" title="Chivas Home Party" class="img-responsive"></h2>
      <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4">
        <h1 class="text-center">Comprar</h1>
      </div>
    </div>
  </header>
  <section class="container-fluid container-compraexitosa">
    <form>
      <article class="row row-invitar">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 input">
          <div class="content-titulo">
            <h2 class="text-center texto-grande">COMPRA EXITOSA</h2>
            <h2 class="text-center texto-pequeno">Invita a tus amigos por email</h2>
          </div>
          <div class="input-flotada">
            <label for="invitar"><span>email de tus amigos</span></label>
            <input type="text" name="invitar">
          </div>
          <button type="button" class="btn btn-invitar">
            <i class="icon icon-mail"></i>
            Invitar
            
            
          </button>
        </div>
        <button type="button" class="btn btn-volverhome">Volver al Home </button>
      </article>
    </form>
  </section>
  <!--Footer-->
  <footer class="container-fluid u-no-border"><img src="images/legal.svg" alt="Pernod Ricard. Prohíbese el expendio de bebidas embriagantes a menores de edad. El exceso de alcohol es perjudicial para la salud. Si tomas, no manejes." title="Pernod Ricard. Prohíbese el expendio de bebidas embriagantes a menores de edad. El exceso de alcohol es perjudicial para la salud. Si tomas, no manejes." class="center-block img-responsive"></footer>
  <!--/-Footer-->
  <!--Scripts-->
  <script src="js/libs.chivas-home-party.min.js"></script>
  <script src="js/home-party.js"></script>
</body></html>